.jumbotron {
	padding: 10px;
	background-color: #CBE0E9;
}
.navbar {
	padding: 10px;
	width: 100%;
}
.content {
	padding: 10px;
	width: 70%;
	float: left;
	background-color: #CBE0E9;
}
.wrapper {
	padding: 5px;
	width: 30%;
	float: right;
}
.sidebar {
	width: 100%;
	float: right;
} 
.footer {
	width: 100%;
	float: none;
}
@media screen and (max-width: 960px) {
	.jumbotron {
		width: auto;
		float: none;
	}
	.navigation {
		width: auto;
		float: none;
	}
	.content {
		width: auto;
		float: none;
	}
	.content form-group {
		width: auto;
		float: none;
	}
	.wrapper {
		display: none;
	}
}
@media screen and (max-width: 460px){
	.jumbotron {
		padding: 15px;
		font-size: 15px;
	}
	.navigation {
		padding: 15px;
		font-size: 15px;
	}
	.wrapper {
		display: none;	
	}
}
